<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.946256552157-jjh555burl121us1i4g08jrnbp5h9fbq</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need access to your photo library to scan QR codes from images.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Nunito-Regular.ttf</string>
		<string>Nunito-Medium.ttf</string>
		<string>Nunito-Bold.ttf</string>
		<string>Nunito-Light.ttf</string>
		<string>Nunito-Italic.ttf</string>
	</array>
</dict>
</plist>
